    /* Essa é a minha primeira pagina feita em html */
body {
    background-color:#f9ed02;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Cyberpunk", Arial, Helvetica, sans-serif;
    font-weight: normal;
    animation-name: mudacor;
    animation-duration: 5s;
    color: #46adc7
}

@font-face {
    font-family: "Cyberpunk";
    src: url("Cyberpunk-Regular") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}

/* 
  Tipos de format ()
   - opentype (otf)
   - truetype (ttf)
   - embedded-opentype
   - truetype-aat (Apple Advanced Typography)
   - svg
*/

@keyframes mudacor {
    from {color:#722c93;}
    to {color: #46adc7;}
}

#logo {
    display: flex;
    justify-content: center;
    font-size: 38px;
}

a {
    text-decoration: unset;
    color:#222222
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 450px;
    margin-right: 450px;
}

#foto {
    width: 100%;
}

#textoprincipal {
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;

}

#fonte {
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

#titulodestaque1 {
    flex-direction: column;
    text-align: center;
    color: #f9ed02;
    font-size: 24px;
}

.grupo {
    font-family: "Cyberpunk", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    flex-direction: column;
    text-align: center;
    font-size: 38px;
    padding-bottom: 5px;
    color: #46adc7
}

.personagemlista {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff
}

#tabela {
    display: flex;
    justify-content: center;
}

.titulotabela {
    color:#f9ed02
}

td {
    text-align: center;
    color: #ffffff;
}

#titulodestaque2 {
    flex-direction: column;
    text-align: center;
    color: #f9ed02;
    font-size: 24px;
}

#tabela {
    display: flex;
    justify-content: center;
}

#titulotabela {
    display: flex;
    justify-content: center;
    color: #f9ed02;
}

#G70S5fumHso {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

#tituloemdestaque3 {
    flex-direction: column;
}

#telefoneredes {
    display: flex;
    justify-content:space-between;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

button {
    background-color: #222222;
    border-radius: 4px;
    height: 40px;
    width: 50%;
    color: #ffffff;
}

#conteudo {
    background-color:#222222;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: #222222 5px 5px 10px; 
}