body {
    background-color:#f9ed02;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: flex;
    justify-content: center;
    font-size: 38px;
}

a {
    text-decoration: unset;
    color:#222222
}

#navbar {
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
    font-size: 16px;
}

#foto {
    width: 100%;
}

#textoprincipal {
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;

}

#fonte {
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

#titulodestaque1 {
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

.grupo {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #f9ed02
}

.personagemlista {
    font-size: 15px;
    color: #ffffff
}

#footer {
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

#tituloemdestaque3 {
    flex-direction: column;
}

#telefoneredes {
    display: flex;
    justify-content:space-between;
}

#conteudo {
    background-color:#222222;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: #222222 5px 5px 10px; 
}